{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "قائمة الأصناف" %}{% endblock title %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    {% for category in categories %}
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ category.category_image.url }}" alt="{{ category.get_category_name_display }}" />
          <div class="card-body">
            <h5 class="card-title">{{ category.get_category_name_display }}</h5>
            <p class="card-text">{% trans "انقر لعرض التفاصيل" %}</p>
            <a href="{% url 'plants_list' category.id %}" class="btn btn-outline-success">
              {% trans "عرض المزيد" %}
            </a>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center">{% trans "لا توجد أصناف متاحة حاليًا." %}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
